(
    button_skins: {
        "Menu": (
            atlas: (
                image_name: "textures/window/button_atlas.png",
                tile_size: (62, 62),
                cols: 5,
                rows: 4,
                padding: (2, 2),
                offset: (0,0)
            ),
            states: ( 4, 9, 14, 19, )
        ),

        "Close": (
            atlas: (
                image_name: "textures/window/button_atlas.png",
                tile_size: (62, 62),
                cols: 5,
                rows: 4,
                padding: (2, 2),
                offset: (0,0)
            ),
            states: ( 1, 6, 11, 16, )
        ),

        "Minimize": (
            atlas: (
                image_name: "textures/window/button_atlas.png",
                tile_size: (62, 62),
                cols: 5,
                rows: 4,
                padding: (2, 2),
                offset: (0,0)
            ),
            states: ( 3, 8, 13, 18, )
        ),

        "Maximize": (
            atlas: (
                image_name: "textures/window/button_atlas.png",
                tile_size: (62, 62),
                cols: 5,
                rows: 4,
                padding: (2, 2),
                offset: (0,0)
            ),
            states: ( 2, 7, 12, 17 )
        ),
    },

    window_skins: {
        "Standard": (
            window_atlas: (
                image_name: "textures/window/windows_atlas.png",
                tile_size: (80, 20),
                rows: 2,
                cols: 4,
                padding: (0, 0),
                offset: (0, 0),
            ),
            window_atlas_index: 4,
            slice_border: ((8, 8), (8, 8)),
            titlebar: (
                height: 17.0,
                font_name:"fonts/FiraSans-Bold.ttf",
                font_size: 13.0,
                font_color: (1.0, 1.0, 1.0, 1.0),
                atlas: (
                    image_name: "ignored",
                    tile_size: (80, 20),
                    rows: 2,
                    cols: 4,
                    padding: (0, 0),
                    offset: (0, 0),
                ),
                padding: (1, 1 , 2, 2),
                mapping: (0, 0, 0, 1, 2),
                buttons: 15,
            ),
            default_size: (320, 240),
            default_position: (100, 100),
            default_titlebar_position: (0, 0),
        ),
    },

    colors: {
        "primary": (0.82, 0.74, 1.0, 1.0),
        "on_primary": (0.22, 0.12, 0.45, 1.0),
        "surface": (0.07, 0.07, 0.07, 1.0),
        "on_surface": (0.9, 0.88, 0.9, 1.0),
        "outline": (0.58, 0.56, 0.6, 1.0),
        "shadow": (0.0, 0.0, 0.0, 0.2),
        "scrim": (0.0, 0.0, 0.0, 0.5),
    }
)